{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.host }}">
    <meta property="og:title" content="ANDIJON TUMANI HOKIMLIGINI WEB SAYTI">
    <meta property="og:description" content="ANDIJON viloyat ANDIJON tumandagi barcha yangiliklar shu web saytda">
    <meta property="og:image" content="{{ request.host }}assets/img/logo.png">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="{% static 'assets/img/logo.png' %}" type="image/x-icon">
    <title>ANDIJON TUMANI HOKIMLIGI</title>
</head>

<body>
    <header>
        <div class="header_top">
            <div class="section-wrapp">
                <div class="container">
                    <div class="header_top_wrapper">
                        <p id="time"></p>
                        <div class="header_top_info_wrapper">
                            <a href="#">
                                <i class="fa-regular fa-envelope"></i>
                                info@andijon.uz
                            </a>
                            <a href="#">
                                <i class="fa-regular fa-volume"></i>
                                Ovozli matn
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapp">
            <div class="container">
                <div class="header_wrapper">
                    <div class="header_logo">
                        <a href="/">
                            <img src="{% static 'assets/img/logo.png' %}" alt="">
                            ANDIJON SHAXAR HOKIMLIGI
                        </a>
                    </div>

                    <div class="header_settings">
                        <form action="{% url 'common:set_language' %}" method="get">
                            <div class="header_form_selection">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% if LANGUAGE_CODE == 'ru' %}
                                <img class="header_lang_img" src="{% static 'assets/ru.png' %}" alt="">
                                {% else %}
                                <img class="header_lang_img" src="{% static 'assets/uz.png' %}" alt="">
                                {% endif %}
                                <select onchange="this.parentElement.parentElement.submit()" name="language" id="language">
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                    <!-- <option value="uz" selected>Uz</option> -->
                                    <!-- <option value="ru">Ru</option> -->
                                </select>
                            </div>

                            <div class="header_search_wrapper">
                                <input type="text" name="search" placeholder="Qidirish">
                                <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                            </div>

                            <div class="header_burger">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <ul class="header_navigation_list">
                    {% for category in categories %}
                    <li class="header_navigation_item">
                        <span class="header_navigation_name">
                            {{ category.title }}
                        </span>
                        <div class="header_navigation_links_wrapper">
                            {% for sub in category.get_subcategory %}
                            <a href="{{ sub.get_absolute_url }}">
                                {{ sub.title }}
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="section-wrapp">
            <div class="container">
                <ul class="footer_list">
                    <li class="footer_item">
                        <p class="footer_description footer_text">
                            Materiallardan foydalanishda <br> Toshkent viloyati hokimligi <br> veb-saytiga havola
                            qoying!
                        </p>
                        <a href="./site_map.html" class="footer_map_link">
                            SAYT XARITASI
                        </a>
                    </li>
                    <li class="footer_item">
                        <div class="footer_socials">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-paper-plane"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </footer>
    <p class="footer_title footer_text">
        ANDIJON VILOYATI HOKIMLIGI © 2009-2023
    </p>
    <script>
        var currentPage = location.href;
        var allA = document.getElementsByTagName('A');
        for(var i = 0, len = allA.length; i < len; i++) {
            if(allA[i].href == currentPage) {
                allA[i].classList.add("active");
                allA[i].parentElement.classList.add("active");
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'assets/lib/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/lib/js/swiper_settings.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/time.js' %}"></script>
</body>

</html>